@model CleanArchitecture.WebUI.Models.Coupon
@{
    ViewData["Title"] = "DeleteCoupon";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<form asp-action="DeleteCoupon">
    <br />
    <div class="container border p-3">
        <div class="card-header bg-success bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2" localize-content>Delete Coupon</h2>
                </div>
            </div>
        </div>
        <input asp-for="CouponId" hidden />
        <hr />
        <div class="row">
            <div class="col-2 offset-2">
                <label class="control-label pt-2" style="font-size:20px;" localize-content> Coupon Code</label>
            </div>
            <div class="col-4 pb-3">
                <input asp-for="CouponCode" disabled class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-2">
                <label class="control-label pt-2" style="font-size:20px;" localize-content>Discount Amount</label>
            </div>
            <div class="col-4 pb-3">
                <input asp-for="DiscountAmount" disabled class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-2">
                <label class="control-label pt-2" style="font-size:20px;" localize-content>Minimum Amount</label>
            </div>
            <div class="col-4 pb-3">
                <input asp-for="MinAmount" disabled class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-2">
                <label class="control-label pt-2" style="font-size:20px;" localize-content>Starting Date</label>
            </div>
            <div class="col-4 pb-3">
                <input asp-for="StartingDate" disabled type="date" class="form-control" />
                <span asp-validation-for="StartingDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-2">
                <label class="control-label pt-2" style="font-size:20px;" localize-content>Ending Date</label>
            </div>
            <div class="col-4 pb-3">
                <input asp-for="EndingDate" disabled type="date" class="form-control" />
                <span asp-validation-for="EndingDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-4">
                <a asp-action="Index" class="btn-secondary btn form-control " localize-content>Back to List</a>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-danger form-control" localize-content>Delete</button>
            </div>
        </div>

        <div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


