@model CleanArchitecture.WebUI.Models.ViewModel.VillaVM
@{
    ViewData["Title"] = "Delete";
}

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2" localize-content>Delete Hotel</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
         <form method="post" class="row">
            <input asp-for="Villa.Id" hidden />
            <div class="col-10">
                <div class="p-3">
                    <div class="form-floating py-1 col-12">
                        <select disabled asp-for="@Model.Villa.CityId" asp-items="@Model.CityList"
                                class="form-select border shadow">
                            <option disabled selected>--Select City--</option>
                        </select>
                        <label asp-for="Villa.CityId" class="ms-2" localize-content>City</label>
                        <span asp-validation-for="Villa.CityId" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Villa.Name" disabled class="form-control border shadow" />
                        <label asp-for="Villa.Name" class="ms-2" localize-content>Name</label>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Villa.Description" disabled class="form-control border shadow" />
                        <label asp-for="Villa.Description" class="ms-2" localize-content>Description</label>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Villa.Price" disabled class="form-control border shadow" />
                        <label asp-for="Villa.Price" class="ms-2" localize-content></label>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Villa.SquareFeet" disabled class="form-control border shadow" />
                        <label asp-for="Villa.SquareFeet" class="ms-2" localize-content>SquareFeet</label>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Villa.Occupancy" disabled class="form-control border shadow" />
                        <label asp-for="Villa.Occupancy" class="ms-2" localize-content>Occupancy</label>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Villa.ImageUrl" disabled class="form-control border shadow" />
                        <label asp-for="Villa.ImageUrl" class="ms-2"></label>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="Villa.ImageLocalPath" readonly class="form-control border shadow" />
                        <label asp-for="Villa.ImageLocalPath" class="ms-2"></label>
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-danger w-100">
                                <i class="bi bi-trash-fill"></i><localize>Delete</localize>
                            </button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Villa" asp-action="Index" class="btn btn-secondary w-100">
                                <i class="bi bi-x-circle"></i> <localize>Cancel</localize>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <img src="@Model.Villa.ImageUrl" width="100%"
                     style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>
        </form> 
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

