@using System.Security.Claims
     @if (User.Identity.IsAuthenticated)
    {
        string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    <ul class="navbar-nav d-none d-md-flex nav-login">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="true">
                    <localize>Hello</localize> @User.Identity.Name
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="Managment" asp-route-userId="@userId" localize-content>Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Access" asp-action="ChangePassword" localize-content>Change Password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Access" asp-action="Logout" localize-content>Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    }
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Access" asp-action="Register" localize-content>Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Access" asp-action="Login" localize-content>Login</a>
        </li>
    </ul>
}