
<ul class="navbar-nav">
     @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link" href="#"><localize>Hello</localize> @User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Access" asp-action="Logout" localize-content>Logout</a>
        </li>
    }
    else
    { 
        <li class="nav-item">
            <a class="nav-link" asp-controller="Access" asp-action="Register" localize-content>Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Access" asp-action="Login" localize-content>Login</a>
        </li>
    }
</ul>