@model CleanArchitecture.WebUI.Models.ViewModel.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
﻿<div class="container">
    <img src="~/images/notfound.jpg" style="width:inherit; max-width:800px; margin-left:15%"/>
</div>