html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.dataTables_filter {
    margin-bottom: 20px;
}
.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
.dataTables_filter {
    margin-bottom: 20px;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #5143d9;
    --bs-btn-border-color: #5143d9;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4539b8;
    --bs-btn-hover-border-color: #4136ae;
    --bs-btn-focus-shadow-rgb: 107, 95, 223;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4136ae;
    --bs-btn-active-border-color: #3d32a3;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #5143d9;
    --bs-btn-disabled-border-color: #5143d9;
}

.btn-block {
    display: block;
    width: 100%;
    color: #fff;
    background-color: #ff5938;
    border-color: #ff5938;
    font-weight: 700;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .6rem 1rem;
    font-size: 1rem;
    line-height: 1.6;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-decoration: none;
    text-align: center;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.6rem + 1.2rem + 2px);
    padding: .6rem 2rem .6rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    color: #59536d;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23565266' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) right 1rem center / 8px 10px no-repeat;
    border: 1px solid #eae9ec;
    border-radius: .25rem;
    appearance: none;
}

.font-12 {
    font-size: 12px;
}

.avatar-lg {
    width: 3.125rem;
    height: 3.125rem;
    font-size: 1.04167rem;
    border-radius: 50% !important;
}

btn-sm {
    padding: .48rem .945rem;
    font-size: .875rem;
    line-height: 1.08;
    border-radius: .2rem;
    color: #261f44;
    background-color: #f4f4f5;
    border-color: #f4f4f5;
}

.font-14 {
    font-size: 14px;
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}
#gt_float_wrapper {
    position: absolute !important;
    top: 10px !important;
    margin-right: 12% !important;
    right: 40px !important;
    z-index: 1 !important;
}
.gt_float_switcher .gt-selected{}
.gt_float_switcher {
    box-shadow: none !important;
}