html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.dataTables_filter {
    margin-bottom: 20px;
}
.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
.dataTables_filter {
    margin-bottom: 20px;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #5143d9;
    --bs-btn-border-color: #5143d9;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4539b8;
    --bs-btn-hover-border-color: #4136ae;
    --bs-btn-focus-shadow-rgb: 107, 95, 223;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4136ae;
    --bs-btn-active-border-color: #3d32a3;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #5143d9;
    --bs-btn-disabled-border-color: #5143d9;
}