@model CleanArchitecture.WebUI.Models.ViewModel.ManageUserVM
@{
    ViewData["Title"] = "Managment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Manage User</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input asp-for="@Model.User.Id" hidden />
            <div class="border p-3">
                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 mb-3 col-12">
                    <input asp-for="User.Name" class="form-control border-0 shadow" />
                    <label asp-for="User.Name" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 mb-3 col-12">
                    <input asp-for="User.PhoneNumber" class="form-control border-0 shadow" />
                    <label asp-for="User.PhoneNumber" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 mb-3 col-12">
                    <input asp-for="User.Email" class="form-control border-0 shadow" />
                    <label asp-for="User.Email" class="ms-2"></label>
                </div>
                <div class="form-floating mb-3 col-md-6">
                    @for (var i = 0; i < Model.RoleList.Count(); i++)
                    {
                        <tr>
                            <td>
                                <div class="form-check">
                                    @{
                                        var isChecked = false;
                                        if (Model.User.Roles != null)
                                        {
                                            isChecked = Array.Exists(Model.User.Roles, r => r == Model.RoleList.ElementAt(i).Value);
                                        }
                                    }
                                    <input class="form-check-input" name="User.Roles" for="User.Roles" type="checkbox" value="@Model.RoleList.ElementAt(i).Value" id="role-@i" @(isChecked ? "checked" : "")>
                                    <label class="form-check-label" for="role-@i">@Model.RoleList.ElementAt(i).Text</label>
                                </div>
                            </td>
                        </tr>
                    }
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update User</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-action="Index" class="btn btn-outline-primary border  form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

