@model CleanArchitecture.WebUI.Models.ViewModel.RegisterVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container pt-5">
    <div class="card shadow border ">
        <div class="card-header bg-success bg-gradient ml-0 py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="py-2 text-white" localize-content>Register</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pt-3">
                 <div class="col-md-12">
                    <form class="row" method="post">
                        <input asp-for="RedirectUrl" hidden />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-3 col-md-12">
                            <input asp-for="Email" class="form-control" aria-required="true" />
                            <label asp-for="Email" class="ms-2 text-muted"></label>
                            <span asp-validation-for="Email" class="text-danger" />
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Name" class="form-control" />
                            <label asp-for="Name" class="ms-2 text-muted" localize-content>Name</label>
                            <span asp-validation-for="Name" class="text-danger" />
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="PhoneNumber" class="form-control" />
                            <label asp-for="PhoneNumber" class="ms-2 text-muted" localize-content>Phone</label>
                            <span asp-validation-for="PhoneNumber" class="text-danger" />
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Password" class="form-control" />
                            <label asp-for="Password" class="ms-2 text-muted" localize-content>Password</label>
                            <span asp-validation-for="Password" class="text-danger" />
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <label asp-for="ConfirmPassword" class="ms-2 text-muted" localize-content>Confirm Password</label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger" />
                        </div>

                       @*  <div class="form-floating mb-3 col-md-6">
                            @for (var i = 0; i < Model.RoleList.Count(); i++)
                            {
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            @{
                                                var isChecked = false;
                                                if (Model.Roles != null)
                                                {
                                                    isChecked = Array.Exists(Model.Roles, r => r == Model.RoleList.ElementAt(i).Value);
                                                }
                                            }
                                            <input class="form-check-input" name="Roles" type="checkbox" value="@Model.RoleList.ElementAt(i).Value" id="role-@i" @(isChecked ? "checked" : "")>
                                            <label class="form-check-label" for="role-@i">@Model.RoleList.ElementAt(i).Text</label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </div>  *@
                       @*  <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Roles" class="form-control" value="" />
                        <label asp-for="Roles" class="ms-2 text-muted">Others Role</label>
                            <span asp-validation-for="Roles" class="text-danger" />
                        </div> *@
                        <div class="col-12">
                            <button type="submit" class="w-100 btn btn-lg btn-outline-success" localize-content>Register</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}