@model CleanArchitecture.WebUI.Models.DTOs.ResetPasswordDTO
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-5">
    <div class="card shadow border">
        <div class="card-header bg-success bg-gradient ml-0 py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="py-2 text-white" localize-content>Reset Password</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row">
                <div class="col-md-12">
                    <section>
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Email" hidden class="form-control" aria-required="true" />
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Token" hidden class="form-control" aria-required="true" />
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" asp-for="Password" class="form-control" aria-required="true" />
                                <label asp-for="Password" class="form-label"></label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div>
                                <button type="submit" class="w-100 btn btn-lg btn-outline-success" localize-content>Update Password</button>
                            </div>
                        </form>
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


